@model Testos.Models.ProfileModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfileModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efternamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efternamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Born)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Born)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
